.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

    .header .title {
        font-size: 24px;
        font-weight: bold;
    }

    .header .button {
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #455d7a;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 30px;
    }

        .header .button:hover {
            background-color: #233142;
        }

.content {
    padding: 60px 20px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #455d7a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .button.edit {
        background-color: #c94c4c;
    }

        .button.edit:hover {
            background-color: #eea29a;
        }

    .button.delete {
        background-color: #c94c4c;
    }

        .button.delete:hover {
            background-color: #eea29a;
        }

    .button:hover {
        background-color: #233142;
    }


/* Form Styles */

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

#filterForm {
    float: right;
    width: 600px;
    margin-top: 20px;
}

    #filterForm select {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        transition: border-color 0.3s;
    }

table {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

    table th {
        background-color: #5A639C;
        color: #fff;
        font-weight: bold;
        padding: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #ccc;
    }

    table tr:nth-child(even) td {
        background-color: #f2f2f2;
    }

    table tr:hover td {
        background-color: #ffedcc;
    }

    table td {
        background-color: #fff;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
    }


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

    .modal input[type="text"],
    .modal input[type="datetime-local"],
    .modal textarea,
    .modal select {
        width: calc(100% - 20px);
        padding: 8px;
        margin-top: 6px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
    }

        .modal input[type="text"]:focus,
        .modal textarea:focus,
        .modal select:focus {
            outline: none;
            border-color: #4CAF50;
        }

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    padding: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.button-container {
    display: flex;
    gap: 10px;
}

#chartsContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    height: 400px;
}

#taskChartByPriority, #taskChartByStatus {
    width: 45%;
    height: 200px;
}
